body {
    background-color: darkseagreen;
}

button {
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

#addBook {
    background-color: coral;
}
#addBook:hover {
    background-color: rgb(226, 110, 68);
}
#addBook:active {
    background-color: rgb(177, 88, 56);
    color: white;
}

.read {
    background-color: lime;
}
.read:hover {
    background-color: rgb(0, 204, 0);
}
.read:active {
    background-color: rgb(0, 163, 0);
    color: white;
}

.not-read {
    background-color: yellow;
}
.not-read:hover {
    background-color: rgb(199, 199, 0);
}
.not-read:active {
    background-color: rgb(179, 179, 0);
    color: white;
}

#shelf {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.book {
    margin: 6px;
    padding: 4px;
    border-width: 2px;
    border-style: solid;
}